* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0066ae;
}

.btn-show {
  border: 0;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
  padding: 10px 60px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgb(0 0 0/15%);
  padding: 1em;
  position: absolute;
  top: -100%;
  left: 50%;
  text-align: center;
  width: 600px;
  transform: translate(-50%, -50%);
  transition: all 0.7s;
  opacity: 0;
}

.card.open {
  opacity: 1;
  top: 58%;
  box-shadow: 0px 5px 33px 15px #2196f3;
  background-color: rgb(100 149 237);
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: -115px;
  border: 5px solid #0066ae59;
}

.card h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card p {
  max-height: 250px;
  overflow-y: auto;
  padding: 10px;
  line-height: 1.6;
  text-align: left;
}

.card .btn-close {
  width: 100%;
  border-radius: 50px;
  border: 0;
  padding: 15px;
  margin-top: 20px;
  background-color: #2ecc71;
  color: #fff;
  cursor: pointer;
}